{% if reviews | length > 0 %}
<div class="reviews-comment">
   {% if showHeader | default(1) == 1 %} 
        <h3 class="main-header">{{ 'Latest reviews'| trans }}</h3>
        {% if _reviewAggregation is defined %}
         <div id="trustedShopRank"><h2 class="heading ot">{{ review_aggregation_snippet(_reviewAggregation) | raw }}</h2></div>
        {% endif %}
   {% endif %}  
   {% for review in reviews %}
        {% include "GammaCustomerReviewBundle:CustomerReview:item/review.html.twig" %}
   {% endfor %}
</div>
<a id="listReviewsLink" class="img-banner more-info pull-right" href="{{ path('reviews') }}">{{ 'More reviews' | trans }}<i class="icon-small icon-s-arrow"></i></a>
{% endif %}
     
