{% if reviews | length > 0 %}
<div class="reviews-comment">
   {% if showHeader | default(1) == 1 %} 
        <h2 class="heading">{{ 'Latest reviews'|trans }}</h2>
        {% if _reviewAggregation is defined %}
         <div id="trustedShopRank"><h3>{{ review_aggregation_snippet(_reviewAggregation)|raw }}</h3></div>
        {% endif %}
   {% endif %}  
   {% for review in reviews %}
        {% include "GammaCustomerReviewBundle:CustomerReview:item/review.html.twig" %}
   {% endfor %}
</div>
<a id="listReviewsLink" class="img-banner more-info pull-right" href="{{ path('reviews') }}">{{ 'More reviews' | trans }}<i class="icon-small icon-s-arrow"></i></a>
{% endif %}
     
