{% extends 'LaMelleV2ShopBundle::layout.html.twig' %}
    
{% block breadcrumb %}
    <li><a href="{{ path('homepage') }}">Startseite</a></li>
    <li class="last">{{ 'Reviews' | trans}}</li>
{% endblock %}
    
{% block content %}
<h1>{{ 'Reviews'| trans }}</h1>
  {% if _reviewAggregation is defined %}
    <div id="trustedShopRank"><h2 class="heading ot">{{ review_aggregation_snippet(_reviewAggregation) | raw }}</h2></div>
  {% endif %}
   {% for review in reviews %}
        {% include "GammaCustomerReviewBundle:CustomerReview:item/review.html.twig" %}
   {% endfor %}
   {% include "GammaCustomerReviewBundle:CustomerReview:pagination.html.twig" %}
{% endblock content %}    
